* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', cursive;
}

h1 {
    font-size: 4rem;
    color: hotpink;

}

h2 {
    color: #2fd358;
}

body {
    height: 100vh;
    background: black;
}

.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(236, 236, 236);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

button:hover,
#start-button:hover,
#highscore-btn:hover,
#restart:hover,
#submit-score:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px hotpink;
}

#start-button,
#restart,
#highscore-btn,
#submit-score {
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}
.scorelist-container {
    background-color: #0d2ccb;
   
}

#restart {
    margin-top: 0.9em;
}

#display-container {
    background: #e6e9e9;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

.header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;

}

.timer-div {
    background-color: #eeeff4;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}

.question {
    margin-bottom: 1.25em;
    font-weight: 600;

}

.option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
}

.option-div:disabled {
    color: black;
    cursor: not-allowed;
}

#next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #1d2630;
    color: #fff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
}

.correct {
    background-color: #e7f6d5;
    color: #2fd358;
    border-color: #2fd358;
}

#user-score {
    font-size: 1.5em;
    color: #fff;
}

.score-list {
    margin: 0.3rem 0;

}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.highScores {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

#highscore-btn {
    background-color: aliceblue;
    margin: 0.5rem;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#submit-score {
    background-color: #fff;
    border: none;
}